@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
  .star-rating .star.filled {
    color: #fd0; }

body {
  color: #fff; }

.countdown {
  text-align: center;
  color: #fff; }

h4 {
  text-align: center; }

.playlist {
  margin: 0 auto; }

.random-artist-container {
  border: 5px solid #64e296;
  border-radius: 15px;
  height: 380px;
  overflow-y: scroll;
  box-shadow: 10px 10px 10px #17002b; }
  .random-artist-container .random-artist-header {
    background-color: #17002b; }
  .random-artist-container .random-artist-pic {
    position: relative;
    width: 99%; }
  .random-artist-container .random-artist-name {
    font-size: 1.5em;
    margin-left: 2%;
    color: #fff;
    whitespace: pre; }
  .random-artist-container .add-to-list {
    text-align: right;
    text-decoration: none;
    color: #fff; }

.view-lineup {
  font-size: 1.25em;
  margin: 10% 0;
  background-color: #1a7263;
  width: 100%;
  height: 60px;
  color: #fff;
  border-radius: 1%;
  box-shadow: 5px 5px 5px #17002b; }

.view-lineup:hover {
  color: #fff;
  font-weight: strong; }

.page-navigation {
  width: 100%;
  border: 1px solid #1d0934;
  border-radius: 0;
  box-shadow: 0 8px 6px -6px #000;
  background-color: #1d0934; }
  .page-navigation .nav-links {
    text-decoration: none;
    color: #fff; }
  .page-navigation .logo {
    margin-top: 5%;
    padding-right: 10%; }

.lineup-header {
  color: #fff;
  text-align: center; }

.lineup-detail {
  color: #000; }
  .lineup-detail .image-container {
    width: 30%;
    padding-bottom: 2%;
    float: left; }
    .lineup-detail .image-container .artist-img {
      width: 200px; }
  .lineup-detail h4 {
    text-align: left; }
  .lineup-detail .description-container {
    width: 60%;
    float: right;
    color: #000; }
  .lineup-detail .footer-buttons {
    clear: both; }
  .lineup-detail .main-artist-content {
    margin-bottom: 1%; }
  .lineup-detail .added-btn {
    background-color: #8ce8ab; }
  .lineup-detail .added-btn:hover {
    background-color: #8ce8ab; }

.panel-container {
  margin-top: 2%; }
  .panel-container .artist-panel {
    width: 30%;
    margin-left: 2%;
    display: inline-block;
    background-color: #770095;
    color: #fff;
    border: 2px solid #17002b;
    box-shadow: 2px 2px 2px #17002b; }
    .panel-container .artist-panel .artist-brief {
      padding: 3%;
      position: relative; }
      .panel-container .artist-panel .artist-brief h5 {
        display: inline-block;
        font-size: 1.25em; }
    .panel-container .artist-panel .open-detail {
      position: absolute;
      right: 5%;
      top: 30%; }
      .panel-container .artist-panel .open-detail .plus-sign {
        font-size: 1.5em;
        color: #fff; }

.filter-list {
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.1em; }
  .filter-list a {
    color: #fff;
    text-decoration: none; }
  .filter-list a:hover {
    font-weight: bold; }

.no-matches {
  text-align: center;
  font-size: 1.5em;
  color: #8ce8ab; }
  .no-matches a {
    font-size: 1em;
    color: #8ce8ab; }
  .no-matches a:hover {
    color: #fff; }
  .no-matches .lineup-button {
    border-radius: 0;
    padding: 1%;
    margin-top: 2%;
    background-color: #1a7263;
    color: #fff; }

.panel-custom {
  padding: 0;
  border: 1px solid #17002b;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #17002b; }
  .panel-custom .panel-heading-custom {
    background-color: #530079;
    color: #8ce8ab; }
    .panel-custom .panel-heading-custom .heading-name {
      display: inline-block;
      font-size: 1.25em; }
    .panel-custom .panel-heading-custom .hamburger {
      color: #fff;
      float: right;
      font-size: 1.1em; }
  .panel-custom .panel-body-custom {
    color: #000; }
    .panel-custom .panel-body-custom .basic-info {
      color: #4C4C4C; }
      .panel-custom .panel-body-custom .basic-info p:first-child {
        font-style: italic; }
      .panel-custom .panel-body-custom .basic-info p {
        margin: 0;
        padding: 0; }
    .panel-custom .panel-body-custom .album-parent {
      white-space: nowrap;
      overflow-x: scroll; }
      .panel-custom .panel-body-custom .album-parent .album {
        display: inline-block;
        vertical-align: top; }
        .panel-custom .panel-body-custom .album-parent .album img {
          width: 125px;
          margin-top: 0;
          padding: 0 1%; }
        .panel-custom .panel-body-custom .album-parent .album p {
          width: 120px;
          white-space: pre-line; }
    .panel-custom .panel-body-custom .user-inputs {
      padding-left: 2%;
      border-radius: 10px; }
    .panel-custom .panel-body-custom blockquote {
      font-size: 1em; }

.schedule-day {
  text-align: center; }

.day-header {
  color: #8ce8ab; }

.artist-by-day {
  font-size: 1.25em; }

.title-container {
  text-align: center; }
  .title-container .bonnawho-title {
    margin-top: 15%; }

.subheader {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 3px #17002b;
  padding-bottom: 2%; }

.login-page {
  height: 710px;
  background: url("../images/ferris-wheel.jpeg") no-repeat;
  background-size: cover; }

.inputs {
  text-align: center;
  background-color: #17002b;
  border-radius: 10px;
  padding: 1% 0;
  color: #fff; }
  .inputs p {
    font-size: 1.15em;
    padding-bottom: 1%; }
  .inputs input {
    border: 1px solid #770095;
    border-radius: 5px;
    background-color: #770095; }
  .inputs .login-btn {
    margin-top: 2%;
    color: #000;
    background-color: #b4ffb7; }

body {
  background: url("../images/main-background.png");
  font-family: 'Comfortaa', cursive; }

h2 {
  color: #000; }
