$panel-color: rgb(119,0,149);
$dark-purple-bg: rgb(23,0,43);
$dark-green: rgb(26,114,99);

.filter-list {
	margin-bottom: 2%;
	text-align: center;
	font-size: 1.1em;
	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		// text-shadow: 2px 2px 2px rgb(140,232,171);
		font-weight: bold;
	}
}

.no-matches {
	text-align: center;
	font-size: 1.5em;
	color: rgb(140,232,171);
	a {
		font-size: 1em;
		color: rgb(140,232,171);
	}
	a:hover {
		color: #fff;
	}
	.lineup-button {
		border-radius: 0;
		padding: 1%;
		margin-top: 2%;
		background-color: rgb(26,114,99);
		color: #fff;
	}
}

.panel-custom {
	padding: 0;
	border: 1px solid $dark-purple-bg;
	border-radius: 5px;
	box-shadow: 10px 5px 5px $dark-purple-bg;
	.panel-heading-custom {
	  background-color: rgb(83,0,121);
  	color: rgb(140,232,171);
  	.heading-name {
  		display: inline-block;
  		font-size: 1.25em;
  	}
		.hamburger {
			color: #fff;
			float: right;
			font-size: 1.1em;
		}
	}
	.panel-body-custom {
		color: #000;

		.basic-info {
			p:first-child {
				font-style: italic;
			}
			p {
				margin: 0;
				padding: 0;
			}
			color: #4C4C4C;
		}

		.album-parent {
			white-space: nowrap;
			overflow-x: scroll;
			.album {
				display: inline-block;
				vertical-align: top;
				img {
					width: 125px;
					margin-top: 0;
					padding: 0 1%;
				}
				p {
					width: 120px;
					white-space: pre-line;
				}
			}
		}

		.user-inputs {
			padding-left: 2%;
			border-radius: 10px;
		}

		blockquote {
			font-size: 1em;
		}

	}
}
