<section class="login-page">

	<div class="row title-container">
		<img class="bonnawho-title" src="images/bonnawho.png"/>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="subheader">Your pocket guide to the 2016 Bonnaroo lineup</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 inputs">
			<p>log in or register to explore</p>
			<div>
				<label for="username">Username:</label>
				<input type="email" name="username" ng-model="user.email">
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" ng-model="user.password">
			</div>
			<button id="login" class="btn login-btn" ng-click="login(user)">Log In</button>
			<button id="register" class="btn login-btn" ng-click="register(user)">Register</button>
		</div>
	</div>

</section>