<div ng-include="'partials/navbar.html'" ng-init="checkPath()"></div>

<section ng-init="populateList()">

	<!-- include a nav bar here for all artists, unlistened artists, listened artists -->

	<div class="panel panel-default" ng-repeat="artist in currentUserArtists">
	  <div class="panel-heading">
	    <h3 class="panel-title" style="display:inline-block">{{ artist.artistName }}</h3>
	    <button class="{{ artist.artistID }}" ng-show="!isShowing($index)" ng-click="showDetail($index, artist)">More</button>
	    <button class="{{ artist.artistID }}" ng-show="isShowing($index)" ng-click="hideDetail()">Less</button>
	  </div>
	  <div class="panel-body" ng-show="isShowing($index)">
	  	<div>Playing {{ dayPlaying }}</div>
	  	<p>Sounds like {{ relatedArtists }}</p>

			<!-- ALBUMS DIV -->
			<div>
				<div ng-repeat="album in albums | unique: 'name' ">
					<img src="{{ album.image }}" alt="{{ album.id }}" style="width:100px"/>
					<a href="https://play.spotify.com/album/{{ album.id }}">{{ album.name }}</a>
				</div>
			</div>

			<!-- TOP TRACKS -->
			<div>
			<span>Never heard {{ artist.artistName }} before? We recommend
				<a href="https://play.spotify.com/artist/{{ artistID }}" ng-repeat="track in topTracks">"{{track.name}}"{{$last ? '' : ', '}}</a>
			</div>

			<!-- WIDGET TO PLAY TOP TRACK (not working with dynamic URL insertion, this would be bae) -->
			<!-- <iframe src={{embedURL}} width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->

			<!-- STAR RATING -->
			<ul class="star-rating">
  			<li ng-repeat="star in stars" class="star {{star.class}}" ng-click="changeRating(artist, $index)">
    			<i class="fa fa-star"></i>
  			</li>
			</ul>

			<!-- COMMENTS -->
			<div ng-if="data.rating > 0">
				<p ng-if="artist.comments !== ''">Your comments:</p>
				<div ng-if="artist.comments !== '' && !editorEnabled">
	      	<span>{{ data.comments }}</span>
	      	<a href="" ng-click="enableEditor()">Edit</a>
	    	</div>
	    	<div ng-show="editorEnabled">
	     		<textarea ng-model="artist.comments" ng-show="editorEnabled" placeholder="What did you think?"></textarea>
	     	 	<a href="" ng-click="addComment(artist, $index); disableEditor()">Save</a>
	      	or
	      	<a href="" ng-click="disableEditor()">cancel</a>
	    	</div>
			</div>

			<!-- DELETE ARTIST -->
			<button class="{{ artist.artistID }}" ng-click="deleteArtist(artist)">Delete This Artist</button>

	</div>

</section>