<section>

	<div>
		<h4>Thursday</h4>
			<ul>
				<li ng-repeat="artist in filteredArtists = (favoriteArtists | filter: {day: 'Thursday'})">{{artist.artistName}}</li>
			</ul>
			<p ng-show="!filteredArtists.length">no thursday selects</p>
	</div>

	<div>
		<h4>Friday</h4>
			<ul>
				<li ng-repeat="artist in filteredArtists = (favoriteArtists | filter: {day: 'Friday'})">{{artist.artistName}}</li>
			</ul>
			<p ng-show="!filteredArtists.length">no friday selects</p>
	</div>

	<div>
		<h4>Saturday</h4>
			<ul>
				<li ng-repeat="artist in filteredArtists = (favoriteArtists | filter: {day: 'Saturday'})">{{artist.artistName}}</li>
			</ul>
			<p ng-show="!filteredArtists.length">no saturday selects</p>
	</div>

	<div>
		<h4>Sunday</h4>
		<ul>
			<li ng-repeat="artist in filteredArtists = (favoriteArtists | filter: {day: 'Sunday'})">{{artist.artistName}}</li>
		</ul>
		<p ng-show="!filteredArtists.length">no sunday selects</p>
	</div>

</section>
