<div ng-include="'partials/navbar.html'" ng-init="checkPath()"></div>

<section ng-init="populateList()">

	<div class="panel panel-default" ng-repeat="artist in currentUserArtists">
	  <div class="panel-heading">
	    <h3 class="panel-title" style="display:inline-block">{{ artist.artistName }}</h3>
	    <button class="{{ artist.artistID }}" ng-show="!isShowing($index)" ng-click="showDetail($index, artist.artistID)">More</button>
	    <button class="{{ artist.artistID }}" ng-show="isShowing($index)" ng-click="hideDetail()">Less</button>
	  </div>
	  <div class="panel-body" ng-show="isShowing($index)">
	  	<div>Playing {{ dayPlaying }}</div>
	  	<p>Sounds like {{ relatedArtists }}</p>

			<!-- ALBUMS DIV -->
			<div>
				<div ng-repeat="album in albums | unique: 'name' ">
					<img src="{{ album.image }}" alt="{{ album.id }}" style="width:100px"/>
					<a href="https://play.spotify.com/album/{{ album.id }}">{{ album.name }}</a>
				</div>
			</div>

			<!-- TOP TRACKS -->
			<div>
			<span>Never heard {{ artist.artistName }} before? We recommend
				<a href="https://play.spotify.com/artist/{{ artistID }}" ng-repeat="track in topTracks">"{{track.name}}"{{$last ? '' : ', '}}</a>
			</div>

			<!-- WIDGET TO PLAY TOP TRACK (not working with dynamic URL insertion, this would be bae) -->
			<!-- <iframe src={{embedURL}} width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->

			<ul class="star-rating">
  			<li ng-repeat="star in artist.stars" class="star {{star.class}}" ng-click="changeRating(artist.artistID, $index)">
    			<i class="fa fa-star"></i>
  			</li>
			</ul>

			<!-- show if rating > 0; add ng-click on enter keyup that updates artist.comments -->
			<textarea class="form-control" rows="3" placeholder="What did you think?"></textarea>

			<button class="{{ artist.artistID }}" ng-click="deleteArtist(artist.artistID)">Delete This Artist</button>

	</div>

</section>