<div ng-include="'partials/navbar.html'" ng-init="checkPath()"></div>
<section ng-init="populateList()">

	<div class="panel panel-default" ng-repeat="artist in currentUserArtists">
	  <div class="panel-heading">
	    <h3 class="panel-title" style="display:inline-block">{{ artist.artistName }}</h3>
	    <button class="{{ artist.artistID }}" ng-show="!isShowing($index)" ng-click="showDetail($index, artist.artistID)">More</button>
	    <button class="{{ artist.artistID }}" ng-show="isShowing($index)" ng-click="hideDetail()">Less</button>
	  </div>
	  <div class="panel-body" ng-show="isShowing($index)">
	  	<div>Playing: {{ currArtistDetail.day }}</div>
	  	<p>Sounds like {{ relatedArtists }}</p>

			<!-- ALBUMS DIV -->
			<div>
				<div ng-repeat="album in albums | unique: 'name' ">
					<img src="{{ album.image }}" alt="{{ album.id }}" style="width:100px"/>
					<a href="https://play.spotify.com/album/{{ album.id }}">{{ album.name }}</a>
				</div>
			</div>

			<button class="{{ artist.artistID }}" ng-click="updateListened(artist.artistID)">Listened</button>
			<button class="{{ artist.artistID }}" ng-click="deleteArtist(artist.artistID)">Delete This Artist</button>
	  </div>
	</div>

</section>