.artist-img {
  width: 200px;
}

.image-container {
  width: 30%;
  padding-bottom: 2%;
  float: left;
}

.description-container {
  width: 60%;
  float: right;
}

.footer-buttons {
  clear: both;
}

.main-artist-content {
  margin-bottom: 1%;
}
